%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{xref_checks, [undefined_function_calls]}.
{erl_libs, ["deps"]}.
{dialyzer, [{warnings, [no_return , no_unused, no_match, no_fail_call,
                        no_contracts, no_behaviours, no_undefined_callbacks,
                        error_handling, race_conditions]}]}.

{deps, [lager, amqp_client, rabbit_common, getopt]}.

{escript_incl_apps,
 [rabl, getopt]}.
{escript_main_app, rabl}.
{escript_name, rablctl}.
{escript_emu_args, "%%! -escript main rabl_escript +sbtu +A0\n"}.

