%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{cover_enabled, true}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{xref_checks, [undefined_function_calls]}.

{deps, [lager, amqp_client, rabbit_common, getopt, meck,
        %% TODO reveiew what tag/version you need
        {folsom, "0.7.4p5", {git, "git://github.com/basho/folsom.git", {tag, "0.7.4p5"}}}
        ]}.

{escript_incl_apps,
 [rabl, getopt]}.
{escript_main_app, rabl}.
{escript_name, rablctl}.
{escript_emu_args, "%%! -escript main rabl_escript +sbtu +A0\n"}.
