[{rabl, [
          {rabbit_host, "127.0.0.1"},
          {cluster_name, <<"cluster1">>},
          {sink_queue, <<"cluster2">>},
          %% consumers are tuple of {How_many::pos_integer(),
          %% AMQPURI::string()}, (and the amqp_uri can include the
          %% heartbeat)
          {consumers, [{1, "amqp://localhost?2"}]} 
        ]
}].