[
 {rabl, [
         {consumers, [
                      {1, "amqp://52.24.53.174"},
                      {1, "amqp://52.34.84.68"},
                      {1, "amqp://52.32.240.184"},
                      {1, "amqp://35.161.77.90"}
                     ]},
         {producers, [{4, "amqp://172.31.28.136"}]},
         {reconnect_delay_millis, 50},
         {max_connection_retries, 5},
         {max_reconnect_delay_millis, 5000},
         {cluster_name, <<"north-california">>},
         {sink_queue, <<"oregon">>},
         {log_dir, "/data/rabl_log"}
        ]}
].
