[
 {rabl, [
         {consumers, [
                      {1, "amqp://13.56.80.85"},
                      {1, "amqp://54.183.159.95"},
                      {1, "amqp://54.183.154.180"},
                      {1, "amqp://54.215.232.183"}
                     ]},
         {producers, [{4, "amqp://172.31.28.136"}]},
         {reconnect_delay_millis, 50},
         {max_connection_retries, 5},
         {max_reconnect_delay_millis, 5000},
         {cluster_name, <<"north-california">>},
         {sink_queue, <<"oregon">>},
         {log_dir, "/data/rabl_log"}
        ]}
].
